subscription_id     = "00000000-0000-0000-0000-000000000000"
location            = "eastus"
domain_name         = "pinochle.example.com"
db_admin_password   = "ChangeMe!2024"
app_secret_key      = "change-me-to-a-random-string"
ssh_public_key_path = "~/.ssh/id_rsa.pub"
google_client_id    = ""
